<section>
  <section class="nav__template">
    <nav>
      <a href="#/pile" class="nav__anchors">Available Books</a>
      <a href="#/success" class="nav__anchors">My Books</a>
      <a href="#/requests" class="nav__anchors">My Requests</a>
      <a href="#/" class="nav__anchor__logout" data-ng-click="userLogOut(user.access_token)">Log Out</a>
    </nav>
  </section>

  <h1 class="book__list__header">Available Books</h1>
  <section class="book__list">
    <ul class="list">
      <h2 class="book__list__none" data-ng-if="noBooks">No Books Available</h2>
      <li class="list__item" data-ng-repeat="book in books">
        <section class="book__list__section">
          <section class="book__list__subsection">
            <img data-ng-src="{{book.imageLinks.smallThumbnail}}">
          </section>
          <section class="book__list__subsection">
            <ul>
              <li><p>Title:</p>{{book.title}}</li>
              <li><p>Author:</p>{{book.authors[0]}}</li>
              <li><p>Genre:</p>{{book.categories[0]}}</li>
              <li><p>Owner:</p>{{book.owner.displayName}}</li>
            </ul>
            <button data-ng-click="toggleDescription(1, book)">Show Description</button>
            <button data-ng-click="checkBook(user.access_token, {_id : book._id})">Request Book</button>
          </section>
        </section>
        <section class="description" data-ng-if="book.showDescription">
          <h2 class="description__header">Description:</h2>
          <p class="description__p">{{book.description}}</p>
          <button data-ng-click="toggleDescription(2, book)">Hide</button>
        </section>
        </section>
      </li>
  </ul>
</section>

