<section>
<section class="nav__template">
  <nav id="nav-menu">
    <a href="#/pile" class="nav__anchors">Available Books</a>
    <a href="#/success" class="nav__anchors">My Books</a>
    <a href="#/requests" class="nav__anchors">My Requests</a>
    <a href="#/" class="nav__anchor__logout" data-ng-click="userLogOut(user.access_token)">Log Out</a>
  </nav>
</section>

<section class="form">
  <section class="form__module">
    <h1 class="form__module__header">Add A Book</h1>
    <form data-ng-submit="askGoogle(googlebook.isbn)">
      <p class="form__module__p">Enter 10 or 13 Length ISBN</p>
      <section class="form__module-input-button">
        <input type="text" data-ng-model="googlebook.isbn" required></input>
        <button type="submit">Find Book</button>
      </section>
    </form>
  </section>
</section>

<section class="error__message" data-ng-if="checkResult">
  <p class="error__message__p">Sorry we could not find that. Please Check your ISBN</p>
</section>

<section class="list" data-ng-if="googleData">
  <section class="book__list__section">
    <section class="book__list__subsection" data-ng-if="googleData">
      <img data-ng-src="{{googleData.images.smallThumbnail}}"/>
    </section>
    <section class="book__list__subsection" data-ng-if="googleData">
      <ul>
        <li><p>Title:</p>{{googleData.title}}</li>
        <li><p>Author:</p>{{googleData.author[0]}}</li>
        <li><p>Genre:</p>{{googleData.genre[0]}}</li>
      </ul>
      <button data-ng-click="submitBook(user.access_token, {title: googleData.title, authors: googleData.author, imageLinks: googleData.images, categories: googleData.genre, description: googleData.description})">Post</button>
    </section>
  </section>
</section>

<h1 class="book__list__header">My Book Pile</h1>
<section class="book__list">
  <ul class="list">
    <h2 class="book__list__none" data-ng-if="allRequested">All Books Out</h2>
    <li class="list__item" data-ng-repeat="book in availableBooks">
      <section class="book__list__section">
        <section class="book__list__subsection">
          <img data-ng-src="{{book.imageLinks.smallThumbnail}}">
        </section>
        <section class="book__list__subsection">
          <ul>
            <li><p>Title:</p>{{book.title}}</li>
            <li><p>Author:</p>{{book.authors[0]}} </li>
            <li><p>Genre:</p>{{book.categories[0]}} </li>
          </ul>
          <button data-ng-click="destroyBook(user.access_token, book._id)">Remove</button>
        </section>
      </section>
    </li>
  </ul>
</section>

<h1 class="book__list__header">Requests For My Books</h1>
<ul class="list">
  <h2 class="book__list__none" data-ng-if="noRequests">No Books Requested </h2>
  <li class="list__item" data-ng-repeat="userBook in bookRequests">
    <section class="book__list__section">
      <section class="book__list__subsection">
        <img data-ng-src="{{userBook.imageLinks.smallThumbnail}}">
      </section>
      <section class="book__list__subsection">
        <ul>
          <li><p>Title:</p>{{userBook.title}}</li>
          <li><p>Author:</p>{{userBook.authors[0]}} </li>
          <li><p>Genre:</p>{{userBook.categories[0]}} </li>
          <li><p>Requester:</p>{{userBook.request.displayName}}</li>
        </ul>
        <button data-ng-click="acceptRequest(user.access_token, {_id : userBook._id})">Approve</button>
        <button data-ng-click="rejectRequest(user.access_token, {_id : userBook._id})">Deny</button>
    </section>
  </section>
  </li>
</ul>

<h1 class="book__list__header">Books Lent</h1>
<ul class="list">
  <h2 class="book__list__none" data-ng-if="noneBorrowed">No Books Lent</h2>
  <li class="list__item" data-ng-repeat="borrow in borrowedBooks">
    <section class="book__list__section">
      <section class="book__list__subsection">
        <img data-ng-src="{{borrow.imageLinks.smallThumbnail}}"/>
      </section>
      <section class="book__list__subsection">
        <ul>
          <li><p>Title:</p>{{borrow.title}}</li>
          <li><p>Author:</p>{{borrow.authors[0]}}</li>
          <li><p>Genre:</p>{{borrow.categories[0]}}</li>
          <li><p>Borrower:</p>{{borrow.borrower.displayName}}</li>
        </ul>
        <button data-ng-click="returnBook(user.access_token, {_id : borrow._id})">Returned</button>
      </section>
    </section>
  </li>
</ul>
</section>
