<h1 class="center-text">Self Requests</h1>
<ul class="list">
  <li class="list__item" data-ng-repeat="selfBook in selfRequests"> Title: {{selfBook.title}}, Author: {{selfBook.authors[0]}}, Genre: {{selfBook.categories[0]}}<button data-ng-click="removeRequest(user.access_token, selfBook._id)">Undo</button></li>
</ul>

<ul class="list">
  <li class="list__item" data-ng-repeat="book in Userbooks"> {{ book.title }}, {{book.authors[0]}}, {{book.categories[0]}}<button>Checkout Book</button><button data-ng-click="destroyBook(user.access_token, book._id)">Destory</button></li>
</ul>
