<section>
  <section class="nav__template">
  <nav>
    <a href="#/pile" class="nav__anchors">Available Books</a>
    <a href="#/success" class="nav__anchors">My Books</a>
    <a href="#/requests" class="nav__anchors">My Requests</a>
    <a href="#/" class="nav__anchors" data-ng-click="userLogOut(user.access_token)">Log Out</a>
  </nav>
  </section>

<h1 class="center-text">Requested Books</h1>
<section class="book__list">
  <ul class="list">
    <h2 data-ng-if="noSelfRequests">No book requests</h2>
    <li class="list__item" data-ng-repeat="selfBook in selfRequests">
      <section class="book__list__section">
        <img data-ng-src="{{selfBook.imageLinks.smallThumbnail}}">
      </section>
      <section class="book__list__section">
        <ul>
          <li>Title: {{selfBook.title}}</li>
          <li>Author: {{selfBook.authors[0]}}</li>
          <li>Genre: {{selfBook.categories[0]}}</li>
        </ul>
        <button data-ng-click="removeRequest(user.access_token, selfBook._id)">Undo</button>
      </section>
    </li>
  </ul>
</section>

<h1 class="center-text">Currently Borrowing</h1>
<section class="book__list">
  <ul class="list">
    <h2 data-ng-if="noneApproved">No books borrowed</h2>
    <li class="list__item" data-ng-repeat="borrow in selfBorrowing">
      <section class="book__list__section">
        <img data-ng-src="{{borrow.imageLinks.smallThumbnail}}">
      </section>
      <section class="book__list__section">
        <ul>
          <li>Title: {{borrow.title}}</li>
          <li> Author: {{borrow.authors[0]}} </li>
          <li> Genre: {{borrow.categories[0]}} </li>
        </ul>
      </section>
    </li>
  </ul>
</section>
