@charset "UTF-8";
/*-- MEYER RESET
–––––––––––––––––––––––––––––––––––––––––––––––––– --*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-image: url("../images/seamless_paper_texture.png"); }

main {
  background-image: url("../images/seamless_paper_texture.png");
  padding-top: 3em;
  padding-bottom: 3.25em; }

header, footer {
  position: static;
  height: 5em;
  color: #f2f2f2;
  background-color: rgba(38, 101, 6, 0.5); }

nav a {
  text-decoration: none;
  color: #f2f2f2; }

form {
  padding: 0.25em; }

input, button {
  border-radius: 0.25em;
  border: 0.1em solid #bfbfbf;
  padding: 0.5em; }

button {
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eddb11 0, #efcf14 35%, #f1bf18 65%, #f2b21b 100%); }

@font-face {
  font-family: NotCourierSans;
  src: url("../fonts/NotCourierSans.otf"); }

@font-face {
  font-family: NotCourierSans-Bold;
  src: url("../fonts/NotCourierSans-Bold.otf"); }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-smydlc");
  src: url("../fonts/icomoon.eot?#iefix-smydlc") format("embedded-opentype"), url("../fonts/icomoon.ttf?-smydlc") format("truetype"), url("../fonts/icomoon.woff?-smydlc") format("woff"), url("../tfonts/icomoon.svg?-smydlc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e600"; }

.search, .signup {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

/*----- Search Module -----*/
.search input {
  width: 90%; }

/*----- Login Module -----*/
.login__form {
  float: right;
  vertical-align: middle;
  margin-top: -9em; }
  .login__form__wrapper {
    display: inline-block;
    margin-left: 0.5em;
    height: 2.5em; }
  .login__form__button {
    margin-left: 0.5em; }
  .login__form__label {
    display: block;
    padding-bottom: 0.25em; }

/*----- Footer Module -----*/
.footer__text {
  text-align: center; }

.footer__padding {
  padding-top: 1em; }

/*----- Sign Up Module -----*/
.signup {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  .signup__button {
    width: 100%; }
  .signup input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box; }
  .signup fieldset {
    width: 20em; }

/*----- Navigation Module -----*/
.nav__heading {
  font-family: 'NotCourierSans-Bold', sans-serif;
  font-size: 150%;
  padding: 1em; }

.nav__logo {
  height: 1.5em;
  margin-top: -0.25em;
  padding-right: 0.5em;
  width: auto;
  float: left; }

.float-right {
  float: right; }

/*-- LEMONADE GRID
–––––––––––––––––––––––––––––––––––––––––––––––––– --*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.frame {
  margin: 0 auto;
  max-width: 100%; }
  .frame:after {
    content: "";
    display: table;
    clear: both; }

[class*='bit-'] {
  float: left;
  padding: 0.3em; }

.bit-1 {
  width: 100%; }

.bit-2 {
  width: 50%; }

.bit-3 {
  width: 33.33333%; }

.bit-4 {
  width: 25%; }

.bit-5 {
  width: 20%; }

.bit-6 {
  width: 16.66667%; }

.bit-7 {
  width: 14.28571%; }

.bit-8 {
  width: 12.5%; }

.bit-9 {
  width: 11.11111%; }

.bit-10 {
  width: 10%; }

.bit-11 {
  width: 9.09091%; }

.bit-12 {
  width: 8.33333%; }

.bit-25 {
  width: 25%; }

.bit-40 {
  width: 40%; }

.bit-60 {
  width: 60%; }

.bit-75 {
  width: 75%; }

@media (max-width: 30em) {
  .bit-1 {
    width: 100%; }
  .bit-2 {
    width: 100%; }
  .bit-3 {
    width: 100%; }
  .bit-4 {
    width: 100%; }
  .bit-5 {
    width: 100%; }
  .bit-6 {
    width: 100%; }
  .bit-7 {
    width: 100%; }
  .bit-8 {
    width: 100%; }
  .bit-9 {
    width: 100%; }
  .bit-10 {
    width: 100%; }
  .bit-11 {
    width: 100%; }
  .bit-12 {
    width: 100%; } }

@media (min-width: 30em) and (max-width: 50em) {
  .bit-4,
  .bit-6,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%; }
  .bit-1,
  .bit-2,
  .bit-3,
  .bit-5,
  .bit-7,
  .bit-9,
  .bit-11 {
    width: 100%; } }

@media (min-width: 50em) and (max-width: 68.75em) {
  .bit-2,
  .bit-7 {
    width: 100%; }
  .bit-4,
  .bit-8,
  .bit-10,
  .bit-12 {
    width: 50%; } }
