@charset "UTF-8";
/*-- LEMONADE GRID VARIABLES
–––––––––––––––––––––––––––––––––––––––––––––––––– --*/
/*-- MEYER RESET
–––––––––––––––––––––––––––––––––––––––––––––––––– --*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background-image: url("../images/seamless_paper_texture.png"); }

main {
  background-image: url("../images/seamless_paper_texture.png");
  padding-top: 3em;
  padding-bottom: 3.25em; }

header, footer {
  position: static;
  height: 5em;
  color: #f2f2f2;
  background-color: rgba(38, 101, 6, 0.5); }

nav a {
  text-decoration: none;
  color: #f2f2f2; }

form {
  padding: 0.25em; }

input, button {
  border-radius: 0.25em;
  border: 0.1em solid #bfbfbf;
  padding: 0.5em; }

button {
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eddb11 0, #efcf14 35%, #f1bf18 65%, #f2b21b 100%); }

.search, .list, .signup {
  width: 50%;
  margin-left: auto;
  margin-right: auto; }

/*----- Search Module -----*/
.search input {
  width: 90%; }

/*----- List Items Module -----*/
.list {
  background-color: #fff;
  border: .1em solid #dedede;
  border-top-right-radius: .4em;
  border-top-left-radius: .4em;
  box-shadow: 0 0.2em 0.2em -0.1em rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  margin: 0.8em 2.2em 0.8em 2.2em;
  overflow: hidden; }

.list__item {
  border-bottom: .1em solid green;
  padding: 1em; }

/*----- Navigation Module -----*/
.nav__heading {
  font-family: 'NotCourierSans-Bold', sans-serif;
  font-size: 150%;
  padding: 1em; }

.nav__logo {
  height: 1.5em;
  margin-top: -0.25em;
  padding-right: 0.5em;
  width: auto;
  float: left; }

/*----- Sign Up Module -----*/
.signup {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }
  .signup__button {
    width: 100%; }
  .signup input {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box; }
  .signup fieldset {
    width: 20em; }

/*----- Login Module -----*/
.login__form {
  float: right;
  vertical-align: middle;
  margin-top: -9em; }
  .login__form__wrapper {
    display: inline-block;
    margin-left: 0.5em;
    height: 2.5em; }
  .login__form__button {
    margin-left: 0.5em; }
  .login__form__label {
    display: block;
    padding-bottom: 0.25em; }

/*----- Footer Module -----*/
.footer__text {
  text-align: center; }

.footer__padding {
  padding-top: 1em; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-smydlc");
  src: url("../fonts/icomoon.eot?#iefix-smydlc") format("embedded-opentype"), url("../fonts/icomoon.ttf?-smydlc") format("truetype"), url("../fonts/icomoon.woff?-smydlc") format("woff"), url("../tfonts/icomoon.svg?-smydlc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\e600"; }

@font-face {
  font-family: NotCourierSans;
  src: url("../fonts/NotCourierSans.otf"); }

@font-face {
  font-family: NotCourierSans-Bold;
  src: url("../fonts/NotCourierSans-Bold.otf"); }
