html {
  background-image: url('../images/seamless_paper_texture.png');
}

main {
  padding-top: 3em;
  padding-bottom: 3.25em;
}

header, footer {
  position: static;
  height: 5em;
  color: #f2f2f2;
  background-color:rgba(38,101,6,0.5);
}

nav a {
  text-decoration: none;
  color: #f2f2f2;
}

form {
  padding: 1em;
}

input {
  border-radius: .25em;
  border: 1px solid #bfbfbf;
  padding: .5em;
}

button {
  border-radius: .25em;
  cursor: pointer;
  border: 1px solid #bfbfbf;
  padding: .5em;
  background-image: -webkit-linear-gradient(top,#eddb11 0,#efcf14 35%,#f1bf18 65%,#f2b21b 100%);
}

ul {
}
