html {
  background-image: url('../images/seamless_paper_texture.png');
}
body {
  font-family: 'Open Sans', sans-serif;
}

main {
  background-image: url('../images/seamless_paper_texture.png');
  padding-top: $default-em * 12;
  padding-bottom: $default-em * 13;
}

header, footer {
  position: static;
  color: $secondary-color;
  background-color: $tertiary-color;
}

nav a {
  text-decoration: none;
  color: $secondary-color;
}

form {
  padding: 2em;
  background-color: #fff;
}

%border-styling {
  border-radius: $default-em;
  border: .1em solid $primary-color;
  padding: $default-em * 2;
}

input {
  @extend %border-styling;
  padding: $default-em * 4;
}

button {
  @extend %border-styling;
  cursor: pointer;
  font-size: $default-em * 3.5;
  padding: $default-em * 2.5;
  background-image: -webkit-linear-gradient(top,#eddb11 0,#efcf14 35%,#f1bf18 65%,#f2b21b 100%);
}
